@charset "UTF-8";

input:focus-visible {
  outline-offset: 0;
}
:focus-visible {
  outline: 0;
}
.line {
  position: relative;
  width: 100%;
  height: 2px;
  padding-right: calc(100% - 3px);
  padding-left: calc(100% - 3px);
  background-color: #dcdcdc;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.scroll-diy::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  margin: 5px;
}
.scroll-diy::-webkit-scrollbar-thumb {
  background-color: #d3d4d6;
  border-radius: 5px;
}
@-webkit-keyframes bounce-in-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
  }
  80% {
    -webkit-transform: translateX(10px);
  }
  to {
    -webkit-transform: translateX(0);
  }
}
@-webkit-keyframes fade-in-left-big {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes bounce-in-top-center {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(-10px);
  }
  to {
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes out-top-center {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  60% {
    opacity: 0.75;
    -webkit-transform: translateY(-10px);
  }
  80% {
    opacity: 0.5;
    -webkit-transform: translateY(-50px);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-1000px);
  }
}

.be-fadeIn {
  opacity: 1;
}
.be-fadeOut {
  opacity: 0;
  transform: scaleY(0);
}
.be-fade-in-linear-enter-from,
.be-fade-in-linear-enter,
.be-fade-in-linear-leave,
.be-fade-in-linear-leave-active {
  opacity: 0;
}

.be-fade-in-linear-enter-active,
.be-fade-in-linear-leave-active {
  transition: opacity 0.2s linear;
}
.be-zoom-in-center-enter-active,
.be-zoom-in-center-leave-active {
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.be-zoom-in-center-enter,
.be-zoom-in-center-leave-active {
  opacity: 0;
  transform: scaleX(0);
}
.be-zoom-in-top-enter-active,
.be-zoom-in-top-leave-active {
  opacity: 1;
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1),
    opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transform: scaleY(1);
  transform-origin: center top;
}

.be-zoom-in-left-enter-active,
.be-zoom-in-left-leave-active {
  opacity: 1;
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1),
    opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transform: scale(1);
  transform-origin: top left;
}
.be-zoom-in-left-enter,
.be-zoom-in-left-leave-active {
  opacity: 0;
  transform: scale(0.45);
}
.dialog-fade-enter-active {
  -webkit-animation: dialog-fade-in 0.3s;
  animation: dialog-fade-in 0.3s;
}
.dialog-fade-leave-active {
  -webkit-animation: dialog-fade-out 0.3s;
  animation: dialog-fade-out 0.3s;
}

@-webkit-keyframes dialog-fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes dialog-fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes dialog-fade-out {
  0% {
    opacity: 1;
    transform: translate(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
@keyframes dialog-fade-out {
  0% {
    opacity: 1;
    transform: translate(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.be-popover {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  position: fixed;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.be-popover .be-popover-body {
  box-sizing: border-box;
  padding: 8px 14px;
  font-size: 12px;
  color: #909399;
  text-align: center;
}
.be-popover .be-popover-arrow,
.be-popover .be-popover-arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}
.be-popover .be-popover-arrow {
  visibility: hidden;
}

.be-popover .be-popover-arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}
.be-popover[data-popper-placement^='top'] .be-popover-arrow {
  bottom: -4px;
}
.be-popover[data-popper-placement^='top'] .be-popover-arrow::before {
  box-shadow: 1px 1px 3px -1px #0000005e;
}
.be-popover[data-popper-placement^='bottom'] .be-popover-arrow {
  top: -4px;
}
.be-popover[data-popper-placement^='bottom'] .be-popover-arrow::before {
  box-shadow: -1px -1px 3px -1px #0000005e;
}
.be-popover[data-popper-placement^='left'] .be-popover-arrow {
  right: -4px;
}
.be-popover[data-popper-placement^='left'] .be-popover-arrow::before {
  box-shadow: 1px -1px 3px -1px #0000005e;
}
.be-popover[data-popper-placement^='right'] .be-popover-arrow {
  left: -4px;
}
.be-popover[data-popper-placement^='right'] .be-popover-arrow::before {
  box-shadow: -1px 1px 3px -1px #0000005e;
}
.be-popover.be-input-select-popover .be-popover-body {
  padding: 0;
}

.be-zoom-in-top-enter,
.be-zoom-in-top-leave-active {
  opacity: 0;
  transform: scaleY(0);
}
.be-zoom-in-bottom-enter-active,
.be-zoom-in-bottom-leave-active {
  opacity: 1;
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1),
    opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transform: scaleY(1);
  transform-origin: center bottom;
}
.be-zoom-in-bottom-enter,
.be-zoom-in-bottom-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

@-webkit-keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.be-icon-container {
  display: inline-block;
}
.be-icon-container .be-icon {
  overflow: hidden;
  vertical-align: 0;
}
.be-icon-spin {
  display: inline-block;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

.be-button__inner {
  padding: 0;
  vertical-align: bottom;
  cursor: pointer;
  background-color: transparent;
  border-width: 0;
}
.be-button__inner:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.be-button__inner__disabled {
  cursor: not-allowed;
}
.be-button {
  display: inline-block;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  border-width: 0;
  border-radius: 0.25rem;
  --tw-text-opacity: 1;
}
.be-button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.be-button .be-button-body {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.be-button .be-button-body .be-button-slot {
  margin: 0 0.25rem;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}
.be-button .be-button-body .be-button-prevIcon__error .be-icon use,
.be-button .be-button-body .be-button-nextIcon__error .be-icon use,
.be-button .be-button-body .be-button-prevIcon__warning .be-icon use,
.be-button .be-button-body .be-button-nextIcon__warning .be-icon use,
.be-button .be-button-body .be-button-prevIcon__success .be-icon use,
.be-button .be-button-body .be-button-nextIcon__success .be-icon use {
  fill: #fff;
}
.be-button .be-button-body .be-button-prevIcon__info .be-icon use,
.be-button .be-button-body .be-button-nextIcon__info .be-icon use,
.be-button .be-button-body .be-button-prevIcon__default .be-icon use,
.be-button .be-button-body .be-button-nextIcon__default .be-icon use {
  fill: #909399;
}
.be-button .be-button-body .be-button-prevIcon__primary .be-icon use,
.be-button .be-button-body .be-button-nextIcon__primary .be-icon use {
  fill: #4098fc;
}
.be-button .be-button-body .be-button-prevIcon,
.be-button .be-button-body .be-button-nextIcon {
  display: flex;
  align-items: center;
}
.be-button__mini {
  box-sizing: border-box;
  height: 1.5rem;
  padding: 0 0.625rem;
  line-height: 1.5rem;
}
.be-button__mini button {
  line-height: 1.5rem;
}
.be-button__medium {
  box-sizing: border-box;
  height: 2rem;
  padding: 0 0.625rem;
  line-height: 2rem;
}
.be-button__medium button {
  line-height: 2rem;
}
.be-button__large {
  box-sizing: border-box;
  height: 2.25rem;
  padding: 0 0.625rem;
  line-height: 2.25rem;
}
.be-button__large button {
  line-height: 2.25rem;
}
.be-button__error {
  background-color: rgba(227, 74, 79, var(--tw-bg-opacity));
  border-width: 0;
  --tw-bg-opacity: 1;
}
.be-button__error:hover {
  background-color: #f14e53;
}
.be-button__error {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.be-button__error button {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.be-button__info {
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  border-width: 0;
  --tw-bg-opacity: 1;
}
.be-button__info:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(220, 220, 220, var(--tw-bg-opacity));
}
.be-button__info {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --tw-text-opacity: 1;
  color: rgba(144, 147, 153, var(--tw-text-opacity));
}
.be-button__info button {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --tw-text-opacity: 1;
  color: rgba(144, 147, 153, var(--tw-text-opacity));
}
.be-button__success {
  background-color: rgba(24, 160, 88, var(--tw-bg-opacity));
  border-width: 0;
  --tw-bg-opacity: 1;
}
.be-button__success:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(54, 173, 106, var(--tw-bg-opacity));
}
.be-button__success {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.be-button__success button {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.be-button__warning {
  background-color: rgba(240, 160, 32, var(--tw-bg-opacity));
  border-width: 0;
  --tw-bg-opacity: 1;
}
.be-button__warning:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(252, 176, 64, var(--tw-bg-opacity));
}
.be-button__warning {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.be-button__warning button {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.be-button__primary {
  border-width: 0;
}
.be-button__primary:hover {
  --tw-border-opacity: 1;
  border-color: rgba(32, 128, 240, var(--tw-border-opacity));
}
.be-button__primary {
  --tw-bg-opacity: 1;
  background-color: rgba(236, 245, 255, var(--tw-bg-opacity));
}
.be-button__primary:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(64, 152, 252, var(--tw-bg-opacity));
}
.be-button__primary {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --tw-text-opacity: 1;
  color: rgba(64, 152, 252, var(--tw-text-opacity));
}
.be-button__primary:hover {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.be-button__primary button {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --tw-text-opacity: 1;
  color: rgba(32, 128, 240, var(--tw-text-opacity));
}
.be-button__primary button:hover {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.be-button__primary:hover .be-button-prevIcon__primary .be-icon use,
.be-button__primary:hover .be-button-nextIcon__primary .be-icon use {
  fill: #fff;
}
.be-button__default {
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  border-width: 0;
  --tw-bg-opacity: 1;
}
.be-button__default:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(236, 245, 255, var(--tw-bg-opacity));
}
.be-button__default {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --tw-text-opacity: 1;
  color: rgba(144, 147, 153, var(--tw-text-opacity));
}
.be-button__default:hover {
  --tw-text-opacity: 1;
  color: rgba(64, 152, 252, var(--tw-text-opacity));
}
.be-button__default:hover button {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --tw-text-opacity: 1;
  color: rgba(32, 128, 240, var(--tw-text-opacity));
}
.be-button__default:hover .be-button-prevIcon__default .be-icon use,
.be-button__default:hover .be-button-nextIcon__default .be-icon use {
  fill: #4098fc;
}
.be-button__error__border {
  color: #fff;
  background-color: #f14e53;
  border-color: #fef0f0;
  border-width: 1px;
}
.be-button__error__border button {
  color: #fff;
}
.be-button__error__border:hover {
  background-color: #e34a4f;
  border-color: #fbc4c4;
}
.be-button__error__border:hover .be-button-prevIcon__primary .be-icon use,
.be-button__error__border:hover .be-button-nextIcon__primary .be-icon use {
  fill: #fff;
}
.be-button__info__border {
  color: #606266;
  background-color: #fff;
  border-color: #d3d4d6;
  border-width: 1px;
}
.be-button__info__border button {
  color: #606266;
}
.be-button__info__border:hover {
  background-color: #dcdcdc;
  border-color: #fff;
}
.be-button__info__border:hover .be-button-prevIcon__primary .be-icon use,
.be-button__info__border:hover .be-button-nextIcon__primary .be-icon use {
  fill: #606266;
}
.be-button__success__border {
  color: #fff;
  background-color: #22c416;
  border-color: #f0f9eb;
  border-width: 1px;
}
.be-button__success__border button {
  color: #fff;
}
.be-button__success__border:hover {
  background-color: #2aad1f;
  border-color: #c2e7b0;
}
.be-button__success__border:hover .be-button-prevIcon__primary .be-icon use,
.be-button__success__border:hover .be-button-nextIcon__primary .be-icon use {
  fill: #fff;
}
.be-button__warning__border {
  color: #fff;
  background-color: #f7a31c;
  border-color: #fdf6ec;
  border-width: 1px;
}
.be-button__warning__border button {
  color: #fff;
}
.be-button__warning__border:hover {
  background-color: #e89919;
  border-color: #f5dab1;
}
.be-button__warning__border:hover .be-button-prevIcon__primary .be-icon use,
.be-button__warning__border:hover .be-button-nextIcon__primary .be-icon use {
  fill: #fff;
}
.be-button__primary__border {
  color: #409efff0;
  background-color: #ecf5ff;
  border-color: #b3d8ff;
  border-width: 1px;
}
.be-button__primary__border button {
  color: #409efff0;
}
.be-button__primary__border:hover {
  background-color: #409eff;
  border-color: #ecf5ff;
}
.be-button__primary__border:hover .be-button-prevIcon__primary .be-icon use,
.be-button__primary__border:hover .be-button-nextIcon__primary .be-icon use {
  fill: #fff;
}
.be-button__primary__border:hover {
  color: #fff;
}
.be-button__default__border {
  color: #606266;
  background-color: #fff;
  border-color: #d3d4d6;
  border-width: 1px;
}
.be-button__default__border button {
  color: #606266;
}
.be-button__default__border:hover {
  background-color: #ecf5ff;
  border-color: #b3d8ff;
}
.be-button__default__border:hover .be-button-prevIcon__primary .be-icon use,
.be-button__default__border:hover .be-button-nextIcon__primary .be-icon use {
  fill: #fff;
}
.be-button__default__border:hover {
  color: #409efff0;
}
.be-button__default__border:hover button {
  color: #409efff0;
}
.be-button__default__border:hover .be-button-prevIcon__default .be-icon use,
.be-button__default__border:hover .be-button-nextIcon__default .be-icon use {
  fill: #4098fc;
}

.be-dialog-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2076;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #00000080;
}
.be-dialog {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2077;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.be-dialog .be-dialog-container {
  z-index: 998;
  align-self: center;
  min-width: 24rem;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
}
.be-dialog .be-dialog-container .be-dialog-title {
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
}
.be-dialog .be-dialog-container .be-dialog-title .be-dialog-container-head {
  box-sizing: border-box;
  padding: 1rem 1.25rem;
}
.be-dialog
  .be-dialog-container
  .be-dialog-title
  .be-dialog-container-head
  .be-dialog-close {
  float: right;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  line-height: 2rem;
  color: rgba(51, 51, 51, var(--tw-text-opacity));
  cursor: pointer;
  --tw-text-opacity: 1;
}
.be-dialog
  .be-dialog-container
  .be-dialog-title
  .be-dialog-container-head
  span {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
  color: rgba(51, 51, 51, var(--tw-text-opacity));
  --tw-text-opacity: 1;
}
.be-dialog .be-dialog-container .be-dialog-body {
  box-sizing: border-box;
  padding: 1rem 1.25rem;
}
.be-dialog .be-dialog-container .be-dialog-body .be-dialog-body__inner {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.be-dialog .be-dialog-container .be-dialog-footer {
  height: 4rem;
  padding: 1rem 1.25rem;
}
.be-dialog .be-dialog-container .be-dialog-footer .be-dialog-footer-btn {
  width: 5rem;
}
.be-dialog .be-dialog-container .be-dialog-footer__center {
  display: flex;
  justify-content: center;
}
.be-dialog .be-dialog-container .be-dialog-footer__right {
  display: flex;
  justify-content: flex-end;
}

.be-main {
  box-sizing: border-box;
  display: block;
  flex: 1 1 0%;
  flex-basis: auto;
  padding: 1.25rem;
  overflow: auto;
}

.be-aside {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 18rem;
  overflow: auto;
}

.be-footer {
  box-sizing: border-box;
  flex-shrink: 0;
  height: 3.5rem;
  padding: 0 1.25rem;
}

.be-header {
  box-sizing: border-box;
  flex-shrink: 0;
  height: 3.5rem;
  padding: 0 1.25rem;
}

.be-container {
  box-sizing: border-box;
  display: flex;
  flex: 1 1 0%;
  flex-basis: auto;
  flex-direction: row;
  min-width: 0;
}
.be-container__vertical {
  flex-direction: column;
}

.be-notification {
  z-index: 10;
  min-height: 100px;
}
.be-notification .be-notification-container {
  position: absolute;
  z-index: 998;
  box-sizing: border-box;
  min-width: 16rem;
  padding: 0.625rem;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  border-radius: 0.25rem;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-bg-opacity: 1;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.be-notification .be-notification-container .be-notification-title {
  width: 100%;
  height: 1.5rem;
}
.be-notification
  .be-notification-container
  .be-notification-title
  .be-notification-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1.5rem;
}
.be-notification
  .be-notification-container
  .be-notification-title
  .be-notification-head
  div:nth-child(1) {
  display: flex;
  align-items: center;
}
.be-notification
  .be-notification-container
  .be-notification-title
  .be-notification-head
  div:nth-child(1)
  .icon-warning {
  margin-right: 10px;
  font-size: 20px;
  line-height: 25px;
  fill: #f0a020;
}
.be-notification
  .be-notification-container
  .be-notification-title
  .be-notification-head
  div:nth-child(1)
  .icon-info {
  margin-right: 10px;
  font-size: 20px;
  line-height: 25px;
  fill: #909399;
}
.be-notification
  .be-notification-container
  .be-notification-title
  .be-notification-head
  div:nth-child(1)
  .icon-success {
  margin-right: 10px;
  font-size: 20px;
  line-height: 25px;
  fill: #18a058;
}
.be-notification
  .be-notification-container
  .be-notification-title
  .be-notification-head
  div:nth-child(1)
  .icon-error {
  margin-right: 10px;
  font-size: 20px;
  line-height: 25px;
  fill: #e34a4f;
}
.be-notification
  .be-notification-container
  .be-notification-title
  .be-notification-head
  div:nth-child(1)
  .txt-warning {
  font-family: 'Microsoft YaHei', sans-serif;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  font-size: 18px;
  font-weight: bold;
  color: rgba(240, 160, 32, var(--tw-text-opacity));
  vertical-align: top;
  --tw-text-opacity: 1;
}
.be-notification
  .be-notification-container
  .be-notification-title
  .be-notification-head
  div:nth-child(1)
  .txt-info {
  font-family: 'Microsoft YaHei', sans-serif;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  font-size: 18px;
  font-weight: bold;
  color: rgba(144, 147, 153, var(--tw-text-opacity));
  vertical-align: top;
  --tw-text-opacity: 1;
}
.be-notification
  .be-notification-container
  .be-notification-title
  .be-notification-head
  div:nth-child(1)
  .txt-success {
  font-family: 'Microsoft YaHei', sans-serif;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  font-size: 18px;
  font-weight: bold;
  color: rgba(24, 160, 88, var(--tw-text-opacity));
  vertical-align: top;
  --tw-text-opacity: 1;
}
.be-notification
  .be-notification-container
  .be-notification-title
  .be-notification-head
  div:nth-child(1)
  .txt-error {
  font-family: 'Microsoft YaHei', sans-serif;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  font-size: 18px;
  font-weight: bold;
  color: rgba(227, 74, 79, var(--tw-text-opacity));
  vertical-align: top;
  --tw-text-opacity: 1;
}
.be-notification
  .be-notification-container
  .be-notification-title
  .be-notification-head
  div:nth-child(2) {
  cursor: pointer;
}
.be-notification .be-notification-container__topLeft,
.be-notification .be-notification-container__bottomLeft {
  left: 5px;
}
.be-notification .be-notification-container__bottomRight,
.be-notification .be-notification-container__topRight {
  right: 5px;
}
.be-notification .be-notification-body {
  min-height: 50px;
  margin-top: 10px;
}
.be-notification .be-notification-body .be-notification-description {
  font-family: 'Microsoft YaHei', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #606266;
  letter-spacing: 3px;
}
.be-notification__topLeft,
.be-notification__bottomLeft {
  position: fixed;
  left: 5px;
}
.be-notification__topRight,
.be-notification__bottomRight {
  position: fixed;
  right: 5px;
}
.be-notification-bottom {
  transition: bottom 0.3s;
}
.be-notification-top {
  transition: bottom 0.3s;
}
.be-notification-animation-right-in {
  -webkit-animation: bounce-in-right 0.3s 0.2s ease both;
  -moz-animation: bounce-in-right 0.3s 0.2s ease both;
}
.be-notification-animation-left-in {
  -webkit-animation: fade-in-left-big 0.3s 0.2s ease both;
  -moz-animation: fade-in-left-big 0.3s 0.2s ease both;
}

.be-message {
  z-index: 9999;
  max-height: 3rem;
}
.be-message .be-message-container {
  position: absolute;
  box-sizing: border-box;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.625rem;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  border-radius: 0.25rem;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-bg-opacity: 1;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.be-message .be-message-container .be-message-title {
  width: 100%;
  height: 1.5rem;
}
.be-message .be-message-container .be-message-title .be-message-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1.5rem;
}
.be-message
  .be-message-container
  .be-message-title
  .be-message-head
  div:nth-child(1) {
  display: flex;
  align-items: center;
}
.be-message
  .be-message-container
  .be-message-title
  .be-message-head
  div:nth-child(1)
  .icon-warning {
  margin-right: 10px;
  font-size: 20px;
  line-height: 25px;
  fill: #f0a020;
}
.be-message
  .be-message-container
  .be-message-title
  .be-message-head
  div:nth-child(1)
  .icon-info {
  margin-right: 10px;
  font-size: 20px;
  line-height: 25px;
  fill: #909399;
}
.be-message
  .be-message-container
  .be-message-title
  .be-message-head
  div:nth-child(1)
  .icon-success {
  margin-right: 10px;
  font-size: 20px;
  line-height: 25px;
  fill: #18a058;
}
.be-message
  .be-message-container
  .be-message-title
  .be-message-head
  div:nth-child(1)
  .icon-error {
  margin-right: 10px;
  font-size: 20px;
  line-height: 25px;
  fill: #e34a4f;
}
.be-message
  .be-message-container
  .be-message-title
  .be-message-head
  div:nth-child(1)
  .txt-warning {
  margin-right: 0.5rem;
  font-family: 'Microsoft YaHei', sans-serif;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  font-size: 18px;
  font-weight: bold;
  color: rgba(240, 160, 32, var(--tw-text-opacity));
  vertical-align: top;
  --tw-text-opacity: 1;
}
.be-message
  .be-message-container
  .be-message-title
  .be-message-head
  div:nth-child(1)
  .txt-info {
  font-family: 'Microsoft YaHei', sans-serif;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  font-size: 18px;
  font-weight: bold;
  color: rgba(144, 147, 153, var(--tw-text-opacity));
  vertical-align: top;
  --tw-text-opacity: 1;
}
.be-message
  .be-message-container
  .be-message-title
  .be-message-head
  div:nth-child(1)
  .txt-success {
  font-family: 'Microsoft YaHei', sans-serif;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  font-size: 18px;
  font-weight: bold;
  color: rgba(24, 160, 88, var(--tw-text-opacity));
  vertical-align: top;
  --tw-text-opacity: 1;
}
.be-message
  .be-message-container
  .be-message-title
  .be-message-head
  div:nth-child(1)
  .txt-error {
  font-family: 'Microsoft YaHei', sans-serif;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  font-size: 18px;
  font-weight: bold;
  color: rgba(227, 74, 79, var(--tw-text-opacity));
  vertical-align: top;
  --tw-text-opacity: 1;
}
.be-message
  .be-message-container
  .be-message-title
  .be-message-head
  div:nth-child(2) {
  cursor: pointer;
}
.be-message .be-message-container__topCenter {
  right: 50%;
  transform: translate(50%);
}
.be-message__topCenter {
  position: fixed;
  right: 50%;
  transform: translate(50%);
}
.be-message-top {
  transition: top 0.3s;
}
.be-message-animation-top-center-in {
  -webkit-animation: bounce-in-top-center 0.3s 0.2s ease both;
  -moz-animation: bounce-in-top-center 0.3s 0.2s ease both;
}
.be-message-animation-top-center-out {
  -webkit-animation: out-top-center 0.3s 0.2s ease both;
  -moz-animation: out-top-center 0.3s 0.2s ease both;
}

.be-modal {
  background-color: #00000080;
}
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}
hr {
  height: 0;
  color: inherit;
}
abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo,
    monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  text-indent: 0;
  border-color: inherit;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}
button,
select {
  text-transform: none;
}
button,
[type='button'],
[type='reset'] {
  -webkit-appearance: button;
}
::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
legend {
  padding: 0;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
button {
  background-color: transparent;
  background-image: none;
}
fieldset {
  padding: 0;
  margin: 0;
}
ol,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  line-height: 1.5;
}
body {
  font-family: inherit;
  line-height: inherit;
}
*,
::before,
::after {
  box-sizing: border-box;
  border-color: currentColor;
  border-style: solid;
  border-width: 0;
}
hr {
  border-top-width: 1px;
}
img {
  border-style: solid;
}
textarea {
  resize: vertical;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #9ca3af;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #9ca3af;
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  color: #9ca3af;
  opacity: 1;
}
button,
[role='button'] {
  cursor: pointer;
}
table {
  border-collapse: collapse;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}
pre,
code,
kbd,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}
img,
video {
  max-width: 100%;
  height: auto;
}
[hidden] {
  display: none;
}
*,
::before,
::after {
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
}
.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
.visible {
  visibility: visible;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.m-36 {
  margin: 9rem;
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.table {
  display: table;
}
.hidden {
  display: none;
}
.transform {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x)) translateY(var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@-webkit-keyframes ping {
  75%,
  to {
    opacity: 0;
    transform: scale(2);
  }
}
@keyframes ping {
  75%,
  to {
    opacity: 0;
    transform: scale(2);
  }
}
@-webkit-keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
@-webkit-keyframes bounce {
  0%,
  to {
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
@keyframes bounce {
  0%,
  to {
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.resize {
  resize: both;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.border {
  border-width: 1px;
}
.bg-green-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(236, 252, 203, var(--tw-bg-opacity));
}
.bg-pink-50 {
  --tw-bg-opacity: 1;
  background-color: rgba(253, 242, 248, var(--tw-bg-opacity));
}
.text-warning {
  --tw-text-opacity: 1;
  color: rgba(240, 160, 32, var(--tw-text-opacity));
}
*,
::before,
::after {
  --tw-shadow: 0 0 #0000;
}
*,
::before,
::after {
  --tw-ring-inset: var(--tw-empty);
  --tw-ring-offset-width: 0;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
}
.filter {
  --tw-blur: var(--tw-empty);
  --tw-brightness: var(--tw-empty);
  --tw-contrast: var(--tw-empty);
  --tw-grayscale: var(--tw-empty);
  --tw-hue-rotate: var(--tw-empty);
  --tw-invert: var(--tw-empty);
  --tw-saturate: var(--tw-empty);
  --tw-sepia: var(--tw-empty);
  --tw-drop-shadow: var(--tw-empty);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
.blur {
  --tw-blur: blur(8px);
}
.transition {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter,
    -webkit-backdrop-filter;
}
