@font-face {
  font-family: SourceHanSansNormal;
  src: url('../font/OpenSans.ttf');
}

@font-face {
  font-family: SourceHanSansExtraLight;
  src: url('../font/OpenSansLightItalic.ttf');
}

@font-face {
  font-family: SourceHanSansLight;
  src: url('../font/OpenSansLight.ttf');
}

/* @font-face
{
  font-family: SourceHanSansMedium;
  src: url('../font/SourceHanSansMedium.otf');
} */

@font-face {
  font-family: SourceHanSansRegular;
  src: url('../font/OpenSans.ttf');
}

/* @font-face
{
  font-family: SourceHanSansHeavy;
  src: url('../font/SourceHanSansHeavy.otf');
} */

@font-face {
  font-family: SourceHanSansBold;
  src: url('../font/OpenSansBold.ttf');
}

/* 定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸 */

.scrollDiy::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  margin: 5px;
}

/* 定义滑块 */

.scrollDiy::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 5px;
}

.linear-l-r {
  background: linear-gradient(-73deg, #19bdfb, #02fbbb);
}

.linear-xie {
  background: linear-gradient(-32deg, #19bcfc, #00ffba);
}

#hermit_app .h-btn-txt-black .be-button-body .be-button-slot {
  color: black;
}

.be-message {
  z-index: 9999 !important;
}

.font-format {
  font-family: SourceHanSansNormal, sans-serif !important;
}

.hermit-msg .txt-warning,
.hermit-msg .txt-success {
  color: black !important;
}

.display-flex {
  display: flex;
}

.display-none {
  display: none;
}

.display-flex-col {
  flex-direction: column;
}
