.service-page .header-text {
  display: flex;
  flex-direction: column;
}

.service-page .header-text-big {
  max-width: 1000px;
  padding-top: 0;
  margin-top: 77px;
  font-family: SourceHanSansBold, sans-serif;
  font-size: 60px;
  font-weight: bold;
  line-height: 80px;
  color: #fff;
}

.service-page .header-button-box {
  display: flex;
  flex-direction: column-reverse;
  width: 360px;
  height: 300px;
}

.service-page .header-button-box span {
  font-size: 24px;
  font-weight: 400;
}

.service-page .header-button {
  width: 360px;
  height: 60px;
  background: linear-gradient(-73deg, #19bdfb, #00ffba);
  border-radius: 5px;
}

.service-page .page-body-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 744px;
  background-color: #fff;
}

.service-page .body-search-text {
  width: 1201px;
  margin-top: 65px;
  font-size: 24px;
  text-align: center;
}

.service-page .body-search-num {
  display: flex;
  justify-content: space-between;
  width: 834px;
  margin-top: 73px;
}

.service-page .search-input {
  width: 834px;
  height: 80px;
  margin-top: 39px;
}

.service-page .search-input .n-input,
.service-page .search-input .n-input .n-input__input-el {
  height: 80px;
}

.service-page .search-input-icon {
  cursor: pointer;
}

.be-icon-container.search-input-icon .be-icon {
  width: 30px;
  height: 30px;
}

.service-page .search-num-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 102px;
}

.service-page .num-header {
  font-size: 20px;
}

.service-page .num-main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
}

.service-page .num-main .box-item {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
}

.service-page .num-footer {
  width: 180px;
  height: 7px;
  background: #00ffc4;
  border-radius: 5px 5px 0 0;
}

.service-page .num-footer-plus {
  width: 260px;
}

.service-page .body-search-input {
  margin-top: 94px;
}

.service-page .input-title {
  font-size: 30px;
  font-weight: bold;
  color: #6d6d6e;
}

.service-page .page-body-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image:
    url('../../assets/img/contect-table-head.png'),
    url('../../assets/img/contect-table-body.png');
  background-repeat: no-repeat, no-repeat;
  background-position: center top, center 50%;

  @apply bg-white;
}

.table-body {
  margin-top: 65px;
  margin-bottom: 100px;
}

.service-page .table-title-class {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 26px;
  margin: 109px 88px;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  color: #282828;
}

.table-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1194px;
  margin-top: 40px;
}

.table-introduce {
  width: 682px;
  margin-left: 92px;
  font-size: 20px;
  font-weight: 300;
  line-height: 35px;
  color: #29292a;
}

.table-title {
  cursor: pointer;
}

.table-title-chick {
  font-weight: 400;
}

.fade-enter-active {
  transition: opacity .5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.service-page .table-title-footer {
  height: 6px;
  margin-top: 4px;
  background: #02fbbb;
}

.service-page .table-title-big {
  width: 800px;
  height: 37px;
  text-align: center;
  margin-top: 95px;
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
  color: #121214;
}

.service-page .page-body-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 969px;
  background-color: #eff2f7;
}

.service-page .body-title {
  margin-top: 101px;
  font-size: 36px;
  font-weight: bold;
}

.service-page .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 255px;
  height: 282px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 6px 5px 0 rgba(0, 0, 0, .16);
  transition: all .5s ease;
}

.service-page .card:hover {
  box-shadow: 0 16px 30px 0 rgba(0, 255, 196, .16);
  transition: all .5s ease;
}

.service-page .card-title {
  width: 210px;
  height: 40px;
  margin-top: 43px;
  margin-bottom: 47px;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  color: #121214;
  text-align: center;
}

.service-page .page-body-process {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 2009px;
  background-color: #fff;
}

.service-page .page-body-process-contract {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.service-page .process-text {
  display: flex;
  justify-content: space-between;
  width: 616px;
  margin-top: 88px;
  margin-bottom: 54px;
  font-size: 22px;
}

.service-page .page-body-reports-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-page .reports-header {
  display: flex;
  justify-content: space-between;
  width: 1195px;
  height: 345px;
  margin-top: 151px;
}

.service-page .reports-title-class {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 710px;
  height: 247px;
  font-family: SourceHanSansNormal, sans-serif;
  color: #fff;
}

.service-page .reports-title-question {
  height: 32px;
  font-size: 30px;
  font-weight: bold;
}

.service-page .reports-title-answer {
  width: 710px;
  height: 172px;
  font-size: 20px;
  line-height: 30px;
}

.service-page .reports-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 680px;
  height: 91px;
  margin-top: 97px;
  color: #fff;
}

.service-page .reports-middle-title {
  width: 410px;
  height: 37px;
  font-size: 36px;
  font-weight: bold;
}

.service-page .reports-middle-text {
  width: 680px;
  height: 21px;
  font-size: 20px;
}

.service-page .header-text-small {
  width: 645px;
  height: 72px;
  padding-top: 39px;
  font-family: SourceHanSansRegular, sans-serif;
  font-size: 30px;
  line-height: 1.5;
  color: #fff;
}

.service-page .reservation-btn {
  top: 58%;
  right: 18%;

  @apply h-12 w-80 font-bold absolute;
}

@media screen and (min-width: 1328px) and (max-width: 1538px) {

  #service_security.service-page .page-head,
  #service_contract.service-page .page-head {
    height: 480px;
    padding: 0 120px 80px 120px;
  }
}

@media screen and (min-width: 1540px) and (max-width: 1750px) {

  #service_security.service-page .page-head,
  #service_contract.service-page .page-head {
    height: 480px;
    padding: 0 120px 80px 120px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1326px) {

  #service_security.service-page .page-body-reports,
  #service_contract.service-page .page-body-reports {
    height: 1160px;
  }

  #service_security.service-page .page-head,
  #service_contract.service-page .page-head {
    height: 376px;
    padding: 0 120px 80px 120px;
  }

  .service-page .page-head img {
    width: 320px;
    height: 320px;
  }

  .service-page .header-text-big {
    margin-top: 60px;
  }

  .service-page .header-text-small {
    width: 768px;
    font-size: 28px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 100px) and (max-width: 1278px) {

  .service-page .header-text-small {
    width: 100%;
    height: initial;
    min-height: 230px;
    padding-top: 20px;
    font-size: 20px;
  }

  #service_contract .header-text-small {
    background-image: url('../../assets/img/smart-ontracts.png');
    background-repeat: no-repeat;
    background-position-x: 40%;
    background-position-y: 50%;
    background-size: 150%;
  }

  #service_security .header-text-small {
    background-image: url('../../assets/img/header-img.png');
    background-repeat: no-repeat;
    background-position-y: 60%;
    background-size: 95%;
  }

  .service-page .header-text-big {
    margin-top: 0;
    font-size: 35px;
    line-height: 1.5;
  }

  .service-page .header-text {
    margin-top: 70px;
  }

  .service-page .page-body-search {
    height: initial;
    padding: 30px;
  }

  .service-page .body-search-text {
    @apply w-full text-xs mt-0;
  }

  .service-page .num-header {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
  }

  .service-page .body-search-num {
    @apply w-full mt-4;
  }

  .service-page .search-num-box {
    flex: 1;
    height: 86px;
  }

  .service-page .num-main .box-item {
    height: 36px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
  }

  .service-page .num-main .number-item {
    width: 8px;
    height: 24px;
  }

  .service-page .num-main .mark-item {
    height: 24px;
    font-size: 14px;
  }

  .service-page .num-main .mark-item > span {
    bottom: -2px;
    left: 3px;
  }

  .service-page .num-footer {
    width: 80px;
    height: 4px;
  }

  .service-page .num-footer-plus {
    width: 110px;
  }

  .service-page .num-main {
    font-size: 14px;
    line-height: 28px;
  }

  .service-page .number-item > span > i {
    top: 6px !important;
  }

  .service-page .body-search-input {
    @apply mt-8;
  }

  .service-page .input-title {
    @apply text-lg;
  }

  .service-page .search-input {
    width: 100%;
  }

  .service-page .search-input .n-input,
  .service-page .search-input,
  .service-page .search-input .n-input .n-input__input-el {
    height: 50px;
  }

  .service-page .body-title {
    margin-top: 30px;

    @apply text-lg;
  }

  .service-page .page-body-content {
    box-sizing: border-box;
    height: initial;
    padding: 0 30px 30px 30px;
  }

  #service_contract .page-body-content .content-card-up,
  #service_security .page-body-content .content-card-up {
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
  }

  #service_security .page-body-content .content-card-down,
  #service_contract .page-body-content .content-card-down {
    flex-wrap: wrap;
    width: 100%;
    margin-top: 0;
  }

  .service-page .card {
    box-sizing: border-box;
    width: 140px;
    height: 180px;
    padding: 10px;
    margin-bottom: 30px;
  }

  .service-page .card-title {
    width: 100%;
    height: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
  }

  .hermit-main #service_contract .page-body-reports {
    height: auto;
    padding: 0 30px 30px 30px;
  }

  .service-page .page-body-process {
    height: initial;
  }

  .service-page .reports-header {
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
  }

  .service-page .reports-title-class {
    width: 100%;
  }

  .service-page .reports-title-answer {
    width: 100%;
    height: initial;

    @apply text-xs;
  }

  .service-page .reports-title-question {
    @apply text-lg mb-4;
  }

  .service-page .reports-middle {
    width: 100%;
    height: initial;
  }

  .service-page .reports-middle-title {
    width: 100%;

    @apply text-lg text-center;
  }

  .service-page .reports-middle-text {
    width: 100%;
    height: initial;

    @apply text-xs text-center;
  }

  .service-page .page-body-table {
    box-sizing: border-box;
    height: auto;
    padding: 30px;
  }

  .service-page .table-title-big {
    @apply w-full mt-0 text-lg text-center;
  }

  .service-page .table-title-class {
    flex: 1;
    height: auto;
    margin: 0;

    @apply text-xs text-center;
  }

  .service-page .table-text {
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
  }

  .service-page .table-introduce {
    width: 100%;
    margin: 20px 0 0 0;

    @apply text-xs;
  }

  .service-page .table-body {
    box-sizing: border-box;
    padding: 0 10px;
    margin: 30px 0;
  }
}
